<IfModule mod_rewrite.c>

	#########################################################################
	# Ativa o modo  RewriteRule												#
	#########################################################################
	RewriteEngine On

	#########################################################################
	# SETAMOS O ARQUIVO BASE 												#
	#########################################################################
	RewriteRule ^$ ./index.php [L]

	#########################################################################
	# CASO ESTEJA COM A EXTENSÃO .protect direciona para protect-image.php											#
	#########################################################################
	RewriteRule ^(.*).protect protect-image.php 





</IfModule>

